#directories
nbproject
nauty

#compiled executables
pregraphs
admissable_c
bipartite
c4cover
has3edgecolouring
pgfilter
pregraphs-64
pregraphs-debug
pregraphs-profile

#source distributions
pregraphs-sources.tar.gz
pregraphs-sources.zip

